Manifest.toml
*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl~

docs/build/
docs/site/

_local/
.ipynb_checkpoints/
.vscode/
*.ipynb_checkpoints
**/*.ipynb_checkpoints
**/**/*.ipynb_checkpoints
*.out
data/_*.dat
__pycache__/
